<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue界面</title>
</head>
<body>
    <h1>欢迎进入跨域问题实战!</h1>

    <script src="/static/js/index.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script>
        var vue = new Vue({
            el:"#app",
            data:{},
            created(){
                this.loadData();
            },
            methods:{
                loadData(){
                    axios.get("http://127.0.0.1:8089/user/detail1").then(res=>{
                        console.log("res", res)
                    })
                }
            }
        })
    </script>
</body>
</html>